.logo {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  &__name {
    color: #2196f3;
  }
  &__word--white {
    color: #fff;
  }
}
.page-header__logo {
  margin-right: 93px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
